/* Custom CSS for padding around videos on desktop screens */
@media (min-width: 768px) {
  /* 768px is Bootstrap's 'md' breakpoint */
  .video-container {
    padding: 5px; /* Half of your required padding to each side */
  }
  .video-container video {
    width: 100%; /* Make the video take up the entire column width */
    height: auto; /* Keep the video's aspect ratio */
  }
  header {
  }
}

/* background: #c33764; 
background: -webkit-linear-gradient(to bottom, #1d2671, #c33764);
background: linear-gradient(to bottom, #1d2671, #c33764);  */

.radial-gradient {
  top: 0px;
  left: 0px;

  /*Fallback if gradeints don't work */
  background: #7f39c6;
  /*Linear gradient... */
  background: radial-gradient(at center, #3498db, #9b59b6);
}

.card-black {
  background-color: black;
  border-radius: 25px;
}

.quote-button-black {
  background-color: #d9d9d9;
  color: black;
  font-weight: 600;
  border-radius: 25px;
  width: 100px;
}

.card-green {
  background-color: #249696;
  border-radius: 25px;
}

.quote-button-green {
  background-color: #d9d9d9;
  color: #249696;
  font-weight: 600;
  border-radius: 25px;
  width: 100px;
}

.card-blue {
  background-color: #003182;
  border-radius: 25px;
}

.quote-button-blue {
  background-color: #d9d9d9;
  color: #003182;
  font-weight: 600;
  border-radius: 25px;
  width: 100px;
}

.card-red {
  background-color: #b20000;
  border-radius: 25px;
}

.quote-button-red {
  background-color: #d9d9d9;
  color: #b20000;
  font-weight: 600;
  border-radius: 25px;
  width: 100px;
}

.card-images img {
  height: 95%;
}

.card-text {
  font-size: 13px;
}

.card {
  height: 100%;
}

.footer-black {
  background-color: #212529;
}

.dat {
  color: #308ac9;
}

.address {
  color: white;
  font-size: 14px;
}

.menu-footer {
  color: white;
  font-size: 12px;
  text-decoration: none;
  line-height: 30px;
}

.menu-footer:hover {
  color: #308ac9;
  transition: 0.4s;
}

.menu-footer-header {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.bi-chevron-right {
  color: #308ac9;
}

.menu-footer-text {
  color: white;
  font-weight: 300;
  line-height: 20px;
}

.mail-area {
  width: 40vh;
  height: 5vh;
  border-radius: 10px 0 0 10px;
}

.submit-btn {
  height: 5vh;
  border-radius: 0 10px 10px 0;
  background-color: #308ac9;
  color: white;
}

.copyright-area {
  background-color: black;
}

.copyright {
  font-size: 12px;
}

.testimonial-slider {
  background: rgb(31, 81, 128);
  background: radial-gradient(circle, rgba(31, 81, 128, 1) 0%, rgba(68, 147, 222, 1) 67%, rgba(29, 111, 187, 1) 100%);
  padding: 3em 2em;
}
.testimonial-title {
  color: #fff;
}
.testimonial-title h2 {
  padding-left: 0.2em;
}
.card {
  margin: 0 0.7em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 60%;
  transform: translateY(-50%);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 1em;
    top: 90%;
    opacity: 1;
  }
  .carousel-control-next {
    left: 4.5em;
  }
}
